/vendor
/.history
!web/
web/*
!web/wp-content/
web/wp-content/*
!web/wp-content/themes/
web/wp-content/themes/*
!web/wp-content/themes/premiumbuyersgroup/
!data/mariadb-data/.gitkeep
data/mariadb-data/*
